/* small screen */
@media screen and (max-width:639px){
.navbar-brand{
    flex: 2;
    position: sticky;
    padding: 0;
}
.container{
    padding: 0;
    margin: auto;
    width: 100%!important;
    justify-content: center;
    align-items: center;
    width: 100%!important;
}
.btn-primary {
    flex: unset;
}
#banner .btn-primary {
    margin: 0 5rem;
}
.text-center{
    flex: 1;
}
.sub-title {
    font-size: 0.9rem;
}
.promo-title h1{
    text-align: center;
}
.intro{
    text-align:unset;
}
.container-A .card .box{
    position: unset;
}
.container-A .card .box .content {
    font-size: 0.8rem;

}
.news-section {
    padding-top:0;
    height: unset!important;
}
.news-section .section-content .title {
    width: 100%;
}
.news-section .section-content .cards {
    display: flex;
    flex-direction: role;
    margin-top: 0.2em;
}
.news-section .section-content .cards .card {
    height:unset;
    padding-bottom: 2em;
}
.news-section .section-content .cards .card .blog-view a {
    white-space: nowrap;
}

.contact-box {
    width: 100%!important;
    margin: 0!important;
}
.contact-box .title {
    margin: auto;
    text-align: center;
    width: 100%!important;
    white-space: nowrap;
}
#social-media {
    height: unset!important;
    width: 100%!important;
}
    .contact1 {
        width: 100%;
        height:unset;
        line-height:normal;
        text-align: center;
    }
    .contact2 {
        padding-top:0;
        height:unset;
        margin: auto;
        text-align: center;
}
.contact2 form {
    width: 100%;
    margin:0;
    height:unset;
    padding: 0 0.5em;}
 .map {
    padding: 0!important;
    height: 100%;
}
.team h2 {
    width: 100%!important;
    margin: 0.18em!important;
}
.sponsors h2 {
    width: 100%;
}
.sponsors-pics {
    width: 100%!important;
    height: 100%!important;
    grid-template-columns: unset;
}
.contact-btn{
    margin-bottom: 30px;
    margin-top: 0!important;
}
#footer{
    text-align: center;
}
.footer-box .form-control {
    max-width: 100%;
}
}
/* <!----medium-----> */
@media (max-width:768px) {
    .team-pics {
        width: 100%!important;
    }
    .container-A {
        flex-direction: column;
    }
}
@media (max-width:1047px){
    .news-section{
        height: 100%;
    }
    .team-pics {
        width: 100%!important;
    }
    .container-A {
        flex-direction: column;
    }
    .news-section .section-content .cards .card{
        height: unset;
        margin: 1em 0 1em 0;
    }
}
/*<!-----larger--->*/
@media (min-width:1048px){
    #about-us .btn-primary{
        width: 300px;
        flex: unset;
    }
    #about-us{
        min-height: unset;
    }
    .news-section {
        height: unset;
}
.news-section .section-content .cards .card {
    height: unset;
    margin: 1em 0 1em 0;
}
}